#to hide juputer cell content (and untrack the outputs)
#in [cmd] code pip install nbstripout --install --global
#in [git] code nbstripout --install --global
.env
build/
dist/
TransferListofDirs.spec
.vs/
